.coldHands {
  background-image: url("./robin1.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.imagery {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  border: black solid 3px;
}

img {
  height: 250px;
  width: 250px;

}