.coldHands {
  background-image: url("./robin1.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.animal-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: black solid 3px;
  background-image: url("./robin1.jpg");

  background-repeat: no-repeat;
  padding: 20px;
}

img {
  height: 200px;
  width: 250px;

}